@page
@model IndexModel
@Html.AntiForgeryToken() <!-- Added -->
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>Cars List</h2>

<!-- Get cars into table-->
<table class="table table-striped">
    <thead>
        <tr>
            <th>License Plate</th>
            <th>Make</th>
            <th>Model</th>
            <th>Color</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model.Cars)
        {
            <tr>
                <td>@car.LicensePlate</td>
                <td>@car.Make</td>
                <td>@car.Model</td>
                <td>@car.Color</td>
            </tr>
        }
    </tbody>
</table>

<!-- Insert cars into table -->